@model Product
@{
    string title = ViewBag.Action + " Product";
    ViewData["Title"] = title;
}
<partial name="_jQueryLibsPartial" />
<h1>@title</h1>
<form asp-action="Edit" methid="post">
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="ProductCode">Code</label>
        <input asp-for="ProductCode" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input asp-for="Name" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="YearlyPrice">Yearly Price</label>
        <input asp-for="YearlyPrice" class="form-control">
    </div>
    <div class="form-group">
        <label asp-for="ReleaseDate">Release Date</label>
        <input asp-for="ReleaseDate" class="form-control">
    </div>
    <input type="hidden" asp-for="ProductID" />

    <button type="submit" class="btn-block">Save</button>
    <div>
        <a asp-controller="Product" asp-action="List" class="btn-danger">Cancel</a>
    </div>

</form>
