@model Product
@{
    ViewData["Title"] = "Delete Product";
}

<h1>Confirm Deletion</h1>
<h2>@Model.Name (@Model.ProductCode)</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ProductID" />
    <input type="hidden" asp-for="Name" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Product" asp-action="List" class="btn btn-dark">Cancel</a>

</form>
