@model IncidentViewModel
@{
    ViewData["Title"] = "Get Technician"; @*List<Incident>*@
}

<h1>Technician</h1>
<form asp-action="List" method="get">
    <div class="form-group">
        <label asp-for="@Model.TechnicianID"></label>
        <select asp-for="@Model.TechnicianID" asp-items="@(new SelectList(Model.Technicians, "TechnicianID", "Name", 0))" class="form-control">
            <option value=""></option>
        </select>
    </div>
    <button type="submit" class="btn btn-success" asp-controller="TechIncident" asp-action="List">Select</button>
</form>

