@model Technician
@{
    ViewData["Title"] = "Delete Technician";
}

<h1>Confirm Deletion</h1>
<h2>@Model.Name</h2>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianID" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-controller="Technician" asp-action="List" class="btn btn-dark">Cancel</a>

</form>
